* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    color: #29292e;
}

body, input, button, select, text {
    font: 400 16px 'Roboto', sans-serif;
}

.toolbar {
    display: flex;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 64px;
    white-space: nowrap;
}

.spacer{
    flex: 1 1 auto;
}