#page-home {
    main {
        padding-top: 20px;
        flex-direction: column;

        .app-bar {
            background-color: transparent;
            box-shadow: none;
            border-bottom: 2px solid #5168F0;

            h5 {
                font-weight: 300;
                flex-grow: 1;
            }

            > div {
                gap: 8px;
            }
        }

        .project-container {
            display: flex;
            width: 100%;
        }
    }
    
}